<!DOCTYPE html>
<html>
<head>
  <title>BASKTEBALL GAME PREDICTOR</title>
</head>

<body>

  <div class="topnav">
    <a href="/">Home</a>
    <a href="/predict">Predict</a>
    <a href="/about">About</a>
    <a href="https://github.com/josmarsan24/game_predictor">GitHub</a>
  </div>

<h1>Welcome to Basketball Game Predictor</h1>
<p>This is an application for predicting NBA games</p>
<p>This was made by Jose Martin as part of an university project</p>

<form action="/predict">
  <input type="submit" value="Get started" />
</form>

</body>
</html> 