<!DOCTYPE html>
<html>
<head>
  <title>PREDICT</title>
</head>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/predict">Predict</a>
  <a href="/about">About</a>
  <a href="https://github.com/josmarsan24/game_predictor">GitHub</a>
</div> 

<body>

<h1>Select two teams:</h1>
<form action="/result" method = "POST">
<p>Away team:
<select name="away_team">
    <option>Atlanta Hawks</option>
    <option>Boston Celtics</option>
    <option>Brooklyn Nets</option>
    <option>Charlotte Hornets</option>
    <option>Chicago Bulls</option>
    <option>Cleveland Cavaliers</option>
    <option>Dallas Mavericks</option>
    <option>Denver Nuggets</option>
    <option>Detroit Pistons</option>
    <option>Golden State Warriors</option>
    <option>Houston Rockets</option>
    <option>Indiana Pacers</option>
    <option>Los Angeles Clippers</option>
    <option>Los Angeles Lakers</option>
    <option>Memphis Grizzlies</option>
    <option>Miami Heat</option>
    <option>Milwaukee Bucks</option>
    <option>Minnesota Timberwolves</option>
    <option>New Orleans Pelicans</option>
    <option>New York Knicks</option>
    <option>Oklahoma City Thunder</option>
    <option>Orlando Magic</option>
    <option>Philadelphia 76ers</option>
    <option>Phoenix Suns</option>
    <option>Portland Trail Blazers</option>
    <option>Sacramento Kings</option>
    <option>San Antonio Spurs</option>
    <option>Toronto Raptors</option>
    <option>Utah Jazz</option>
    <option>Washington Wizards</option>
  </select>

  <p>Home team:
    <select name="home_team">
        <option>Atlanta Hawks</option>
        <option>Boston Celtics</option>
        <option>Brooklyn Nets</option>
        <option>Charlotte Hornets</option>
        <option>Chicago Bulls</option>
        <option>Cleveland Cavaliers</option>
        <option>Dallas Mavericks</option>
        <option>Denver Nuggets</option>
        <option>Detroit Pistons</option>
        <option>Golden State Warriors</option>
        <option>Houston Rockets</option>
        <option>Indiana Pacers</option>
        <option>Los Angeles Clippers</option>
        <option>Los Angeles Lakers</option>
        <option>Memphis Grizzlies</option>
        <option>Miami Heat</option>
        <option>Milwakee Bucks</option>
        <option>Minnesota Timberwolves</option>
        <option>New Orleans Pelicans</option>
        <option>New York Knicks</option>
        <option>Oklahoma City Thunder</option>
        <option>Orlando Magic</option>
        <option>Philadelphia 76ers</option>
        <option>Phoenix Suns</option>
        <option>Portland Trail Blazers</option>
        <option>Sacramento Kings</option>
        <option>San Antonio Spurs</option>
        <option>Toronto Raptors</option>
        <option>Utah Jazz</option>
        <option>Washington Wizards</option>
      </select>

</p>
<input type="submit" value="Go!"></p>
</form>

</body>
</html> 